.active-bar {
    height: 20px; 
    position: fixed; 
    bottom:0%;
    margin-left: -20px;
    width:110%; 
    background-color: #762217; 
    opacity: 1;
	
}
.green-bar {
	-webkit-animation: flash linear 2.5s infinite;
	animation: flash linear 2.5s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .6; } 
	100% { opacity: 1; }
}

/*making a class to change it to green.*/

.green-bar {
	height: 20px; 
  margin-left: -20px;
  position: fixed; 
  bottom:0%;
  width:110%; 
  background-color: green; 
  opacity: 1;
}
