* {
	font-family: 'Montserrat', sans-serif;
}

.container {
	
}

.game-title, .game-players {
	color: black;
	text-align: right;
	margin-right: 20px;
	margin-top: -55px !important;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.game-code {
	margin-left: 60px;
}

.card-container {
	background-color: #D4D4D4;
	padding-top: 5px;
	margin: 20px;
}

.btn-secondary {
	margin-left: auto;
	margin-right: auto;
}

.deckExpand:hover{
	background-color: #D4D4D4;
	color: #181717;
}

.deckExpand:active{
	background-color: #D4D4D4 !important;
	color: #181717 !important;
}

.wrapper {
	padding: 0;
	margin: 0;
}

.user-list {
	margin-left: 20px;
	margin-top: -40px;

}

.active-user {
	color: green;
	margin-left: 40px;
	margin-top: -40px;

}

.inactive-user {
	color: black;
	margin-left: 40px;
	margin-top: -40px;
}

.back {
	width: 80%;
	height: 80%;
	background-color: #D4D4D4;
	background-image: url("../aarow.png");
	margin-left: 10px;
	width: 50px;
	height: 50px;
}

.back:hover {
	background-color: #D4D4D4;
}

/* for the progress messages in the game page*/
.message-div {
	color: #a0a0a0;
	font-size: 12px;
	text-align: left;
	margin-top: -5px;
	display: inline;
	margin-left: 350px;
}

@media screen and (orientation: landscape) {

}

@media screen and (orientation: portrait) {

	h2.game-title {
		margin-top: -70px;
		display: block;
	}

	.message-div-media {
		color: #a0a0a0;
		/*font-size: 12px;*/
		text-align: left;
		margin-top: -50px;
		margin-left: 250px;
		float: right;
	}

	.card-container {
		padding-bottom: 400px;
	}

	div.outer-div {
		/*padding: 20px;*/
	}

	div.card-pile {
		margin-right: 60px;
		display: block;
	}

	div.btn-div {
		position:absolute;
   		bottom:0;
   		margin-bottom: 80px;
	}

	div.playing-cards {
		margin: 20px;

	}

	div.user-list {
		position: absolute;
   		bottom:0;
   		margin-bottom: 90px;
	}
}