*{
	font-family: 'Montserrat', sans-serif;
}

.game-title, .game-players {
	color: black;
	text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

.card-container {
	background-color: #D4D4D4;
	padding-bottom: 500px;
}