.card-pile {
	margin: 20px;
	padding: 5px;
	margin-left: 70px;
	width: 175px;
	height: 250px;
	background-color: white;
	box-shadow: 5px;
	border-radius: 10px !important;
	color: black;
}

h4 {
	font-size: 30px;
}
