.playing-cards {
	/*margin: 20px;*/
	/*margin-left: 40px;*/
	display: flex;
	/*width: 175px;*/
	/*height: 250px;*/
	/*background-color: grey;*/
	/*box-shadow: 5px;*/
}

.outer-div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 20px;
}

.what {
	width: 175px;
	height: 250px;
	border: 1px solid black;
	display: inline-block;
	background-color: grey;
	margin: 5px;
}