* {
	border-radius: 0 !important;
	vertical-align: center !important;
}

input[type="text"], textarea {
	outline: none;
	box-shadow:none !important;
	border-bottom: 3px solid #141414 !important;
	margin-top: 20px;
}

form.gameform {
	overflow: auto;
	background-color: #D4D4D4;
	padding-left: 70px;
	padding-right: 70px;
	width: 100%;
	margin-top: -10px;
	margin-left: 7px;
}


form.gameform button[type="submit"] {
	background-color: #8D0000;
	color: white;
	width: 30%;
	border: none !important;
	margin-bottom: 50px;
}

#startgame-input, #numcards-input { 
	margin-bottom: 10px !important;
	background-color: #B7B6B6;
	text-align: center;
	color: #181717;
	margin-top: -20px;
}

#start-btn, #join-btn {
	width: 40%;
	display:block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

#start-btn:hover, #join-btn:hover {
	background-color: #BC1515;
}


.container {
	background-color: #181717;
}