.discard-pile {
	margin: 20px;
	margin-left: 10px;
	padding: 5px;
	width: 175px;
	height: 250px;
	background-color: white;
	box-shadow: 5px;
	border-radius: 10px !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h4 {
	font-size: 30px;
}

/* Smartphone (landscape) ----------- */
@media only screen and (max-width : 321px) {
/* Styles */



}

/* Smartphone (portrait) ----------- */
@media only screen and (max-width : 320px) {	
/* Styles */

}