
input[type="text"], textarea {
outline: none;
box-shadow:none !important;
text-align: center;
font-size: 14px;
border:0px !important;
border-bottom:1px solid #ccc !important;
}

input[type="password"], textarea {
outline: none;
text-align: center;
font-size: 14px;
box-shadow:none !important;
border:0px !important;
border-bottom:1px solid #ccc !important;
}

.what {
  display: none;
}

* {
  border-radius: 0 !important;
}

form.login {
  overflow: auto;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 10px;
}


form.login button[type="submit"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 30px;
  width: 40%;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: #8D0000;
  color: white;
}

#emailOrUsername {
	margin-bottom: 15px;
	outline: none;
  color: white;
  text-transform: none;
	background-color: #181717;
}

#password_login{ 
	margin-bottom: 15px;
	background-color: #181717;
  color: white;
}

.container {
}