.game {
	font-size: 50px;
	padding: 70px;
	margin: 10px;
	font-family: 'Pathway Gothic One', sans-serif;
	background-color: #D4D4D4;
	text-align: center;
<<<<<<< HEAD
	color: #181717;
	text-transform: uppercase;
=======
	color: white;
	display: block;
>>>>>>> 646097289686897589e38aa9e0a88d76075d78b2
}