button:focus {
	outline: none !important;
	box-shadow: none !important;
}

.classicdeck {
	font-size: 50px;
	padding-top: 25px !important;
	font-family: 'Pathway Gothic One', sans-serif;
	background-color: #D4D4D4;
	text-align: center;
	color: #181717;
	text-transform: uppercase;
}

.btn {
	width: 100%;
}

.classic-image {
	margin-top: -40px;
	max-width: 140px;
}