
.navbar {
	background-color: #181717;
	color: white;
}

.navbar-toggler-right{
	box-shadow: #181717 !important;
	margin: 0;
	background-color: #181717 !important;
	width: 100%;
	outline: none !important;
}

.navbar-brand {
	color: #D4D4D4;
}

#play, #deck, #home {
	background-color: #181717;
	color: #D4D4D4 !important;
	font-size: 30px;
	text-transform: uppercase;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
}

.glyphicon {
	background-color: white !important;
}