.nav-container {
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	width: 100%;
	border-bottom: none;
	margin-bottom: -25px;
	margin-top: -5px;
}

#play {
	width: 50%;
	background-color: #181717!important;
	color: #7c7b7b !important;
	font-size: 35px !important;
	text-transform: uppercase;
	font-family: 'Pathway Gothic One', sans-serif !important;

}

#deckmake {
	width: 50%;
	background-color: #181717!important;
	color: #7c7b7b !important;
	font-size: 35px !important;
	text-transform: uppercase;
	font-family: 'Pathway Gothic One', sans-serif !important;

}

#prototype.active {
	color: white !important;
}

#play.active {
	color: white !important;
}


#logout {
	background-color: #181717!important;
	font-size: 25px !important;
	text-transform: uppercase;
	font-family: 'Pathway Gothic One', sans-serif;
	color: #D4D4D4 !important;
}

#logout:hover {
	border-bottom: 2px;
	border-color: #D4D4D4;
}