.nav {
	background-color: #181717;
	color: white;
	margin-top: 10px;
}

a {
	text-align: center !important;
	text-decoration: none !important;
	background-color: #181717!important;
	color: #D4D4D4 !important;
	font-size: 30px !important;
	text-transform: uppercase !important;
	font-family: 'Pathway Gothic One', sans-serif !important;
}

#play, #create, #logout{
	text-align: center !important;
	background-color: #181717!important;
	color: #D4D4D4 !important;
	font-size: 30px !important;
	text-transform: uppercase !important;
	font-family: 'Pathway Gothic One', sans-serif !important;
}

#logout {
	color: #81170F !important;
}