.btn-div {
	margin-left: auto;
	margin-right: auto;
	width: 99%;
	margin-top: 10px;
	margin-right: 5px;
}

.shuffle-btn, .draw-btn, .discard-btn, .done-btn {
	display: inline !important;
	margin-left: 5px;
	margin-top: 10px;
	background-color: black;
	color: white;
	width: 23%;
	height: 40px;
	font-size: 11px;
}

.shuffle-btn:hover, .draw-btn:hover, .discard-btn:hover, .done-btn:hover {
	background-color: #6D281D;
}

.shuffle-btn {
	margin-left: 20px;
}