
.roulette {
	font-size: 50px;
	padding: 70px;
	margin: 10px;
	font-family: 'Pathway Gothic One', sans-serif;
	background-color: #D4D4D4;
	text-align: center;
	color: #181717;
	text-transform: uppercase;
	display: block;
}